<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cello Tap</title>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i|Crimson+Text|Rubik" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/cellotap.css" type="text/css" media="all">
</head>

<body class="site">
    <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
    <div id="sidebar"></div>
    <div id="sidebarcello"></div>
    <div id="sidebartap"></div>
    <div id="logo"></div>
    <div class="surveybox" id="surveycontents">
      <input type="text" id="nameform" name="surveyname" placeholder="NAME:" />
      <input type="text" id="pwform" name="surveypw" placeholder="PASSWORD:" />
      <input type="email" id="emailform" name="surveyemail" placeholder="EMAIL:" />
      <div class="helptext" id="surveytip">
        <strong>Background</strong> <em>(check all that apply)</em>
      </div>
      <form class="surveybgbox" id="surveybgs">
        <input type="checkbox" name="art1" value="dance">dance
        <br>
        <input type="checkbox" name="art2" value="music">music
        <br>
        <input type="checkbox" name="art3" value="otherperf">other performance
        <br>
        <input type="checkbox" name="art4" value="otherart">other art
      </form>
      <input type="text" id="otherform" name="surveyblurb" placeholder="PLEASE DESCRIBE:" />
      <input type="submit" class="surveydone" id="surveybutton" value="go!">
    </div>

    <div id="slush"></div>
    <div id="guttertop"></div>
    <div id="guttermid"></div>
    <div id="gutterbottom">
      <div class="submittoserver">
        <input type="submit" id="submitbutton" value="done!">
      </div>
    </div>
    <div id="function" class="peekaboo">
      <!-- <div id="controlsspeedtoggle" class="controls">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 161.8 100"  style="width: 100%; padding: auto"><defs><style>.cls-1{fill:#97cfab;}.cls-2{fill:#cc3636;}</style></defs><title>speedtoggle</title><path class="cls-1" d="M81,28.48a12.4,12.4,0,0,1-3.48-8.36q-.09-2.38-.09-4.27t.09-4.4a13,13,0,0,1,1.65-5.88A10.49,10.49,0,0,1,83.49,1.5a16.25,16.25,0,0,1,13.62,0,10.47,10.47,0,0,1,4.29,4.07,13.05,13.05,0,0,1,1.65,5.88q.09,1.23.09,4.4t-.09,4.27a12.4,12.4,0,0,1-3.48,8.36q-3.17,3.17-9.29,3.21T81,28.48ZM93.37,23.7a6.63,6.63,0,0,0,1.1-3.81q.09-1.28.09-4.14t-.09-4a6.7,6.7,0,0,0-1.1-3.76,3.56,3.56,0,0,0-3.08-1.39q-4,0-4.18,5.15,0,1.19,0,4t0,4.14Q86.32,25,90.29,25A3.61,3.61,0,0,0,93.37,23.7Z"/><path class="cls-1" d="M104.38,30.94a1,1,0,0,1-.33-.79V24.34a1.13,1.13,0,0,1,1.14-1.14H111a1,1,0,0,1,.79.33,1.15,1.15,0,0,1,.31.81v5.81a1.09,1.09,0,0,1-.31.77,1,1,0,0,1-.79.33H105.2A1.15,1.15,0,0,1,104.38,30.94Z"/><path class="cls-1" d="M119,30.46a10.15,10.15,0,0,1-4.36-3.39,8.44,8.44,0,0,1-1.56-4.62.9.9,0,0,1,.92-.92h6.21a1.46,1.46,0,0,1,1.45.84,4.48,4.48,0,0,0,1.65,2.11,4.69,4.69,0,0,0,2.57.66A4.49,4.49,0,0,0,129,24a4.13,4.13,0,0,0,1.25-3.21,4,4,0,0,0-1.23-3,4.38,4.38,0,0,0-3.17-1.19,4.5,4.5,0,0,0-1.76.29,5.82,5.82,0,0,0-1.28.77,2,2,0,0,1-1.14.53h-6.12a1,1,0,0,1-1-1l1.63-15.45a1.33,1.33,0,0,1,.46-1,1.49,1.49,0,0,1,1-.35h17.91a1.06,1.06,0,0,1,1.1,1.1v4.4a1.09,1.09,0,0,1-.31.77,1,1,0,0,1-.79.33H122.8l-.53,5.41a7.72,7.72,0,0,1,2.38-1.12,13,13,0,0,1,3.43-.37,11.48,11.48,0,0,1,5.28,1.25,10,10,0,0,1,3.94,3.54A9.46,9.46,0,0,1,138.78,21a10.14,10.14,0,0,1-1.54,5.52,10.36,10.36,0,0,1-4.47,3.83,15.94,15.94,0,0,1-6.89,1.39A16.94,16.94,0,0,1,119,30.46Z"/><path class="cls-1" d="M137.28,31a1,1,0,0,1-.31-.73,1,1,0,0,1,.26-.66l7.31-10.08L137.9,10a1.12,1.12,0,0,1-.26-.66,1,1,0,0,1,.31-.73,1,1,0,0,1,.7-.29h5.68a1.22,1.22,0,0,1,.79.22,3.4,3.4,0,0,1,.53.57l3.87,5.41,3.92-5.41.22-.26a1.48,1.48,0,0,1,.46-.37,1.32,1.32,0,0,1,.64-.15h5.41a1,1,0,0,1,.7.29.9.9,0,0,1,.31.68,1.17,1.17,0,0,1-.26.7l-6.78,9.46,7.44,10.08a1.12,1.12,0,0,1,.22.66,1,1,0,0,1-1,1h-5.94a1.45,1.45,0,0,1-1.23-.7l-4.27-5.81L145,30.55a2.23,2.23,0,0,1-.53.53,1.34,1.34,0,0,1-.75.18H138A1,1,0,0,1,137.28,31Z"/><path class="cls-2" d="M95,99.34a2.11,2.11,0,0,1-.66-1.54V56.6l-11.8,9.07a2.52,2.52,0,0,1-1.32.44,2.28,2.28,0,0,1-1.85-1.06L74,58a2.61,2.61,0,0,1-.35-1.32,2.26,2.26,0,0,1,1-1.94L95,39a3.44,3.44,0,0,1,2-.62h11.62a2.3,2.3,0,0,1,1.63.62,2.07,2.07,0,0,1,.66,1.58V97.8a2.07,2.07,0,0,1-.66,1.58,2.29,2.29,0,0,1-1.63.62H96.59A2.11,2.11,0,0,1,95,99.34Z"/><path class="cls-2" d="M112.77,99.43a1.89,1.89,0,0,1-.62-1.45,2,2,0,0,1,.53-1.32L127.29,76.5,114,57.57a2.24,2.24,0,0,1-.53-1.32,1.9,1.9,0,0,1,.62-1.45,2,2,0,0,1,1.41-.57h11.36a2.43,2.43,0,0,1,1.58.44,6.8,6.8,0,0,1,1.06,1.14l7.75,10.83,7.83-10.83q.09-.09.44-.53a3,3,0,0,1,.92-.75,2.65,2.65,0,0,1,1.28-.31h10.83a2,2,0,0,1,1.41.57,1.8,1.8,0,0,1,.62,1.36,2.34,2.34,0,0,1-.53,1.41L146.48,76.5l14.88,20.16A2.24,2.24,0,0,1,161.8,98a2,2,0,0,1-2,2H147.89a2.89,2.89,0,0,1-2.46-1.41L136.89,87l-8.63,11.62a4.46,4.46,0,0,1-1.06,1.06,2.69,2.69,0,0,1-1.5.35H114.18A2,2,0,0,1,112.77,99.43Z"/></svg>
      </div> -->
      <div id="controlsplaypause" class="controls">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 161.8 100" style="width: 100%; padding: auto"><defs><style>.cls-1,.cls-2{fill:#97cfab;}.cls-2{fill-opacity:0;}</style></defs><title>playpause</title><polygon class="cls-1" points="0 100 0 0 61.8 50 0 100"/><rect class="cls-1" x="80.9" width="32" height="100"/><rect class="cls-1" x="129.8" width="32" height="100"/><rect class="cls-2" width="161.8" height="100"/></svg>
      </div>
      <div id="controlsvolup" class="controls">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 161.8 100" style="width: 100%; padding: auto"><defs><style>.cls-1{fill:#97cfab;}</style></defs><title>plus</title><polygon class="cls-1" points="130.9 34 96.9 34 96.9 0 64.9 0 64.9 34 30.9 34 30.9 66 64.9 66 64.9 100 96.9 100 96.9 66 130.9 66 130.9 34"/></svg>
      </div>
      <div id="controlsvoldown" class="controls">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 161.8 100" style="width: 100%; padding: auto"><defs><style>.cls-1{fill:#97cfab;}</style></defs><title>minus</title><rect class="cls-1" x="30.9" y="34" width="100" height="32"/></svg>
      </div>
      <label class="toggleswitch" id="controlstoggletrack">
        <input type="checkbox" name="clickThruToggle">
        <span class="toggleslider"></span>
        <br>
      </label>
      <div class="helptext" id="controlstogglelabel" style="text-indent: 0px; "><strong>Click tracker</strong><br><em>(on/off)</em></div>
    </div>
    <main id="playercontainer" class="responsive-vimeo-container">
      <!-- <div class="container">
      </div> -->
    </main>
    <!-- #content .main-content -->
    <div id="main-overlay">
      <!-- <div id="touch-zones">
      </div> -->
    </div>
    <div class="commentbox" id="comment">
      <textarea id="commentform" name="commentinput" placeholder="..."></textarea>
    </div>
    <div id="swirl"></div>
    <div id="swirlbit"></div>
    <div class="label-right" id="vidlabel">Video</div>
    <div class="label-right" id="commentlabel">Comment</div>


    </footer><!-- .footer-content -->
  <script type="text/javascript" src="https://player.vimeo.com/api/player.js"></script>
  <script type="text/javascript" src="javascripts/cellotap-markers.js"></script>
</body>

</html>
