<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cello Tap</title>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i|Crimson+Text|Rubik" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/cellotap.css" type="text/css" media="all">
</head>

<body class="site">
    <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
    <div id="sidebar"></div>
    <div id="sidebarcello"></div>
    <div id="sidebartap"></div>
    <div id="logo"></div>
    <div class="surveybox" id="surveycontents">
      <input type="text" id="nameform" name="surveyname" placeholder="NAME:" />
      <input type="text" id="pwform" name="surveypw" placeholder="PASSWORD:" />
      <input type="email" id="emailform" name="surveyemail" placeholder="EMAIL:" />
      <div class="helptext" id="surveytip">
        <strong>Background</strong> <em>(check all that apply)</em>
      </div>
      <form class="surveybgbox" id="surveybgs">
        <input type="checkbox" name="art1" value="dance">dance
        <br>
        <input type="checkbox" name="art2" value="music">music
        <br>
        <input type="checkbox" name="art3" value="otherperf">other performance
        <br>
        <input type="checkbox" name="art4" value="otherart">other art
      </form>
      <input type="text" id="otherform" name="surveyblurb" placeholder="PLEASE DESCRIBE:" />
      <input type="submit" class="surveydone" id="surveybutton" value="go!">
    </div>

    <div id="slush"></div>
    <div id="guttertop"></div>
    <div id="guttermid"></div>
    <div id="gutterbottom">
      <div class="submittoserver">
        <input type="submit" id="submitbutton" value="done!">
      </div>
    </div>
    <div id="function" class="peekaboo">
      <div id="controlsplaypause" class="controls">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 161.8 100" style="width: 100%; padding: auto"><defs><style>.cls-1,.cls-2{fill:#97cfab;}.cls-2{fill-opacity:0;}</style></defs><title>playpause</title><polygon class="cls-1" points="0 100 0 0 61.8 50 0 100"/><rect class="cls-1" x="80.9" width="32" height="100"/><rect class="cls-1" x="129.8" width="32" height="100"/><rect class="cls-2" width="161.8" height="100"/></svg>
      </div>
      <div id="controlsvolup" class="controls">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 161.8 100" style="width: 100%; padding: auto"><defs><style>.cls-1{fill:#97cfab;}</style></defs><title>plus</title><polygon class="cls-1" points="130.9 34 96.9 34 96.9 0 64.9 0 64.9 34 30.9 34 30.9 66 64.9 66 64.9 100 96.9 100 96.9 66 130.9 66 130.9 34"/></svg>
      </div>
      <div id="controlsvoldown" class="controls">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 161.8 100" style="width: 100%; padding: auto"><defs><style>.cls-1{fill:#97cfab;}</style></defs><title>minus</title><rect class="cls-1" x="30.9" y="34" width="100" height="32"/></svg>
      </div>
      <label class="toggleswitch" id="controlstoggletrack">
        <input type="checkbox" name="clickThruToggle">
        <span class="toggleslider"></span>
        <br>
      </label>
      <div class="helptext" id="controlstogglelabel" style="text-indent: 0px; "><strong>Click tracker</strong><br><em>(on/off)</em></div>
    </div>
    <main id="playercontainer" class="responsive-vimeo-container">
      <!-- <div class="container">
      </div> -->
    </main>
    <!-- #content .main-content -->
    <div id="main-overlay">
      <!-- <div id="touch-zones">
      </div> -->
    </div>
    <div class="commentbox" id="comment">
      <textarea id="commentform" name="commentinput" placeholder="..."></textarea>
    </div>
    <div id="swirl"></div>
    <div id="swirlbit"></div>
    <div class="label-right" id="vidlabel">Video</div>
    <div class="label-right" id="commentlabel">Comment</div>


    </footer><!-- .footer-content -->
  <script type="text/javascript" src="https://player.vimeo.com/api/player.js"></script>
  <script type="text/javascript" src="javascripts/cellotap-markers.js"></script>
</body>

</html>
