/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/*--------------------------------------------------------------
CSS-Grid
--------------------------------------------------------------*/
.site {
  display: grid;
	height: 100vh;
	width: 100vw;
	position: relative;
	/*Cheat for full-bleed*/
	margin-top: 0;
	margin-bottom: -50vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
	/*/Cheat*/
  grid-template-columns: repeat(12, [col] 1fr);
	grid-template-rows: repeat(7, [row] 1fr);
	grid-template-areas:
		"sidebar sidebar logo logo survey survey survey survey slush slush slush slush"
		"sidebar sidebar logo logo survey survey survey survey slush slush slush slush"
		"sidebar sidebar function main main main main main main main main guttertop"
		"sidebar sidebar function main main main main main main main main guttertop"
		"sidebar sidebar function main main main main main main main main guttermid"
		"sidebar sidebar function main main main main main main main main guttermid"
		"sidebar sidebar function comment comment comment comment comment comment comment comment gutterbottom";
  grid-gap: 0px;
	background-color: #D69A98;
	font-family: 'Rubik', sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

/*--------------------------------------------------------------
Vimeo stuff
--------------------------------------------------------------  */
.container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#main-overlay {
  grid-area: main;
  overflow: hidden;
  border-radius: 0px;
	border: 0em solid rgba(204,54,54,0);
  padding: 0;
  transition: border .2s;
  z-index: 3;
}

#main-overlay:hover{
	border: 0.5em solid rgba(204,54,54,1);
}

/* #touch-zones {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
} */

.responsive-vimeo-container{
	position: relative;
  padding-bottom: 56.25%; /*16:9 aspect ratio*/
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.responsive-vimeo-container iframe,
.responsive-vimeo-container object,
.responsive-vimeo-container embed {
	position: absolute;
  top: 0;
	left: 0;
  width: 100%;
  height: 100%;
}

/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/

h1,h2,h3 {
	font-family: 'Playfair Display', sans-serif;
}

h4,h5,h6 {
	font-family: 'Rubik', sans-serif;
}

p {
	font-family: 'Alice', serif;
	font-size: 14px;
}

#sidebar {
	grid-area: sidebar;
	z-index: -1;
}

#sidebarcello {
	position: absolute;
	grid-row: row 1 / span 4;
	grid-column: col 1 / span 3;
	height: 100%;
	width: 75%;
	pointer-events: none;
	background-image: url("../images/sidebar_cello.png");
  background-size: contain;
	background-repeat: no-repeat;
  background-position: top left;
}

#sidebartap {
	position: absolute;
	grid-row: row 4 / auto;
	grid-column: col 1 / span 3;
	height: 100%;
	width: 65%;
	pointer-events: none;
	background-image: url("../images/sidebar_tap.png");
  background-size: contain;
	background-repeat: no-repeat;
  background-position: bottom left;
	z-index: -1;
}

#swirl {
	position: absolute;
	grid-row: row 2 / span 3;
	grid-column: col 9 / span 4;
	height: 100%;
	width: 100%;
	pointer-events: none;
	background-image: url("../images/swirloverlay.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center right;
	order: 1;
	z-index: -1;
}

#swirlbit {
	position: absolute;
	grid-row: row 2 / span 3;
	grid-column: col 9 / span 4;
	height: 100%;
	width: 100%;
	pointer-events: none;
	background-image: url("../images/swirloverlaybit.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center right;
	z-index: 4;
}

#logo {
	grid-area: logo;
	background-image: url("../images/logo2col.svg");
	height: 95%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
	z-index: 1;
}

.surveybox {
	padding: 1em;
	grid-area: survey;
	margin-left: 10%;
	/* background-color: #97CFAB; */
}

#surveycontents {
	display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 10px;
}

#slush {
	grid-area: slush;
}

#guttertop {
	grid-area: guttertop;
}

#guttermid {
	grid-area: guttermid;
}

#gutterbottom {
	grid-area: gutterbottom;
}

#function {
	grid-area: function;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(10, 1fr);
	/* grid-template-areas:
		"videolabel"
		"controlsplaypause"
		"controlstoggletrack"
		"controlsspare"
		"commentlabel"; */
	grid-gap: 0px;
}

.controls {
	margin: auto;
	display: block;
	width: 65%;
	cursor:pointer;
}

.controls .cls-1 {
	fill: #97CFAB;
	-webkit-transition: fill 0.15s ease-in-out;
	transition: fill 0.15s ease-in-out;
}

.controls:hover .cls-1 {
	fill: #12105B;
}

#controlsplaypause {
	grid-row: 3;
}

#controlsvolup {
	grid-row: 4;
}

#controlsvoldown {
	grid-row: 5;
}

#controlstoggletrack {
	grid-row: 6;
	margin: auto auto 0.5em auto;
}

#controlstogglelabel {
	grid-row: 7;
	margin-right: 1em;
}

.peekaboo {
	visibility: visible;
}

.toggleswitch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.toggleswitch input {
	display: none;
}

.toggleslider {
	position:absolute;
	cursor:pointer;
	top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #C6B2D0;
  -webkit-transition: .15s;
  transition: .15s;
  border-radius: 34px;
}

.toggleslider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #12105B;
  -webkit-transition: .15s;
  transition: .15s;
  border-radius: 50%;
}

input:checked + .toggleslider {
  background-color: #CC3636;
}

input:focus + .toggleslider {
  box-shadow: 0 0 1px #CC3636;
}

input:checked + .toggleslider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

#playercontainer {
	grid-area: main;
	background-color: #000000;
	order:2 ;
}

.commentbox {
	grid-area: comment;
}

#comment {
	background-color: #D3EEDE;
}

#commentform{
	width: 100%;
	height: 92%;
	text-indent: 0px;
	line-height: 1.4em;
	border-radius: 0px;
	padding: 1% 2% 0 2%;
	resize: none;
	box-sizing: border-box;
	overflow: scroll;
}

.label-right, .label-left {
	font-family: 'Rubik', sans-serif;
	font-size: 1.0vw;
	letter-spacing: 0.25em;
	font-weight: bold;
	text-transform: uppercase;
	color: #12105B;
}

.label-right {
	text-align: right;
	text-indent: 1em;
	direction: rtl;
}

.label-left {
	text-align: left;
	text-indent: 1em;
	direction: ltr;
}


.helptext {
	font-family: 'Crimson Text', serif;
	font-size: 1.25vw;
	font-weight: regular;
	letter-spacing: 0.025em;
	color: #120E3D;
	line-height: 1.5vw;
	text-align: right;
}

input[type="text"],input[type="email"],input[type="password"],textarea {
	font-family: 'Rubik', sans-serif;
	font-size: 0.8vw;
	letter-spacing: 0.12em;
	font-weight: medium;
	text-transform: none;
	color: #CC3636;
	text-align: left;
	text-indent: 1.5em;
	background-color: #D3EEDE;
	border: 0px;
	border-radius: 50px;
	-webkit-transition: width 0.15s ease-in-out;
	transition: width 0.15s ease-in-out;
	width:70%;
	padding-right:5%;
}

input[type="text"]:focus,input[type="email"]:focus,input[type="password"]:focus {
	/* border: 3px solid #DD5F5B; */
  width: 100%;
}

#vidlabel {
	position: absolute;
	grid-row: row 3 / span 1;
	grid-column: col 3 / span 1;
	width: 100%;
}

#commentlabel {
	position: absolute;
	grid-row: row 7 / span 1;
	grid-column: col 3 / span 1;
	width: 100%;
}

#nameform {
	grid-row: 1;
	grid-column: 1/span 1;
}

#pwform {
	grid-row: 2;
	grid-column: 1/span 2;
}

#emailform {
	grid-row: 3;
	grid-column: 1/span 3;
}

#surveytip {
	grid-row:4;
	grid-column: 1/span 1;
}

#surveybgs {
	grid-row: 4;
	grid-column: 2/span 3;
}

.surveybgbox{
	font-family: 'Rubik', sans-serif;
	font-size: 0.8vw;
	letter-spacing: 0.12em;
	font-weight: regular;
	text-transform: uppercase;
	color: #A33838;
	text-align: left;
	border-radius: 50px;
}

#otherform {
	grid-row: 5;
	grid-column: 1/span 3;
}

.surveydone {
	grid-row: 4;
	grid-column: 4;
}

.submittoserver {
	width: 100%;
	height: 100%;
}


#surveybutton, #submitbutton {
	background-color: #CC3636;
	border: 0.2em solid #CC3636;
	color: #D3EEDE;
	font-family: 'Playfair Display';
	font-size: 2vw;
	font-weight: 700;
	font-style: italic;
  text-align: center;
	cursor:pointer;
	-webkit-transition: background-color 0.15s, border 0.15s ease-in-out;
	transition: background-color 0.15s, border 0.15s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

#surveybutton:hover, #submitbutton:hover {
	background-color: #12105B;
	border: 0.3em solid #CC3636;
}

#surveybutton {
	border-radius: 100px;
	height:6vw;
	width:6vw;
}

#submitbutton {
	width: 100%;
	height: 100%;
}
